<form action="/create/user" method="post">
  <input type="text" name="name" placeholder="twitter handle">
  <input type="submit" value="Get Tweets">
</form>

<form action="/create/user" method="post">
  <input type="text" name="name" placeholder="twitter handle">
  <input type="hidden" name="followers" value="true">
  <input type="submit" value="Get Followers">
</form>
